*{
    margin: 0%; padding: 0%; box-sizing: border-box;
}

.home-header{
    background-image: url(./Images/home.webp);
    background-size: cover;
    background-repeat: no-repeat;
} 
.home-section{
    background-color: #440000;
    opacity: 0.7;
}
.home-section p{
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
}
.home-section h1{
    color: #EFE7E7;
    font-size: 41px;
    font-weight: bold;
    letter-spacing: -2px;
}
.home-section h3{
    letter-spacing: -0.42px;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #FC8D2D;
}
.home-unorderlist{
    list-style-type: none;
}
.home-unorderlist li{
    font-size: 30px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
}
.home-unorderlist a{
    color: white;
}
.home-content h1{
    text-align: center;
    color: #440000;
}
.home-content h1::after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    color: orange;
    background-color: #FC8D2D;
    margin: auto;
}
.home-content p{
    margin: 20px;
}
.home-cards {
    background-color: #440000;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.home-cards:hover{
    background-color: #FC8D2D;
    transition: .5s;
}
.home-cards:hover .icon{
    color: black;
}
.home-cards:hover .home-cards-body h3{
    color: black;
}
.home-cards:hover .home-cards-body p{
    color: black;
}
.home-icons{
    font-size: 80px;
    text-align: center;
    color: white;
}
.home-cards-body{
    text-align: center;
}
.home-cards-body h3{
    color: white;
}
.home-cards-body p{
    color: white;
    text-align: justify;
    padding: 20px;
}
.content-heading h1{
    color: #440000;
    text-align: center;
}
.home-service-card{
    border: 5px solid #440000;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.service-image{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.service-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.service-text p{
    color: #440000;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
}
.carousal-style{
    /* border: 2px solid black; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 50px 20px;
    border-radius: 40px;
}
.carousel-item img{
    width: 180px;
    height: 180px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: 120px;
}
.carousel-caption h5{
    color: #440000;
}
.carousel-caption p{
    color: #FC8D2D;
    font-weight: 600;
}

.carousel-content {
    background-color: #440000;
    margin: 150px 150px 50px 150px;
}
.carousel-content p{
    padding: 30px;
    font-size: 22px;
    font-weight: 500;
    color: white;
}
@media (min-width:768px) and (max-width:991.98px){
    .carousel-content {
        margin: 50px;
    }
}

@media (min-width:576px) and (max-width:767.98px) {
    .home-content p{
        width: 350px;
    }
    .carousel-content {
        margin: 50px;
    }
}
@media screen and (max-width:575.98px) {
    .home-section p{
        width: 300px;
    }
    .home-unorderlist li{
        font-size: 20px;
    }
    .home-section h1{
        font-size: 32px;
    }
    .carousel-content {
        margin: 10px;
    }
    
}